<!-- <!DOCTYPE html>
<html lang="en" ng-app="module13">
<head>
    <meta charset="UTF-8">
    <title>Page13</title>
</head>
<body> -->
<div>
<h1> Custom directives using restrict keyword </h1>
<hr/>
<div>
<!--Directive act as attribute for div-->
<div restrictattribute> Directive created by this keyword will be used as attribute to the element (Check console) </div>

<hr/>
<!--Directive act as class for div-->
<div class="restrictclass"> Directive created by this keyword will be used as class (Check console)</div>

<hr/>
<!--Directive act as element-->
<restrictelement> Directive created by this keyword will be used as element itself (Check console) </restrictelement>


<!-- directive:restrictcomment  -->
<div></div>
</div>
</div>
<!-- </body>
</html> -->