<div>
    <h1> Scope Inside Directive </h1>
    <hr/>
    <h2>Directive uses its parent scope</h2>
    <h3 ng-click="reverseName()"> Hey {{name}}, Click here to reverese your name</h3>
    <parentscope></parentscope>
    <hr/>
    <h2>Directive uses new scope</h2>
    <h3 ng-click="reverseName()"> Hey {{name}}, Click here to reverese your name</h3>
    <div newscope></div>
    <hr/>
    <h2>Directive gets new isolated scope</h2>
    <h3 ng-click="reverseName()"> Hey {{name}}, Click here to reverese your name</h3>
    <isolatedscope></isolatedscope>
</div>
