<div>
    <h3> Using Service </h3>
    <button ng-click="Helloservice()"> Hello Service </button>
    <button ng-click="Sumservice()"> Sum Service </button>
    <div ng-bind="serviceOutput"></div>
    <h3> Using Factory </h3>
    <button ng-click="Hellofactory()"> Hello Factory </button>
    <button ng-click="Sumfactory()"> Sum Factory </button>
    <div ng-bind="factoryOutput"></div>
    <h3> Using Provider </h3>
    <button ng-click="Helloprovider()"> Hello Provider </button>
    <button ng-click="Sumprovider()"> Sum Provider </button>
    <div ng-bind="providerOutput"></div>
</div>
