<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<script src = "../references/angular.js"></script>-->
<!--<script src="script10.js"></script>-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Page10</title>-->
<!--</head>-->
<!--<body ng-app="mod10">-->
<div>
<h1>Application of $timeout, $location and $interval</h1>
<hr/>
<div>
<p>Header will change after 2 seconds ($timeout service)</p>
    <h2>{{header}}</h2>
</div>
<hr/>
<div>
    <p>URL of this page ($location service)</p>
    <h4>{{myURL}}</h4>
</div>
<hr/>
<div>
    <p>Seconds value will change after every 2 seconds ($interval service)</p>
    <h3>{{thetime}}</h3>
</div>

</div>
<!--</body>-->
<!--</html>-->