<!--<!DOCTYPE html>-->
<!--<script src = "../references/angular.js"></script>-->
<!--<script src="script12.js"></script>-->
<!--<html lang="en" ng-app="module12">-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>Page12</title>-->
<!--</head>-->
<!--<body>-->
<div>
    <h1> Transclude - compile the content of the element and make it available to the directive. Typically used with ngTransclude. </h1>
    <hr/>
    <div>
        <input ng-model='title' aria-label='title'></input>
        </br>
        <textarea ng-model='text' aria-label='text'></textarea>
        </br>
        <pane title="{{title}}"><span>{{text}}</span></pane>
    </div>
</div>
<!--</body>-->
<!--</html>-->
