<!--<!DOCTYPE html>-->
<!--<script src = "../references/angular.js"></script>-->
<!--<script src="script12.js"></script>-->
<!--<html lang="en" ng-app="module12">-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>Page12</title>-->
<!--</head>-->
<!--<body>-->
<div>
    <h1> Validation on textbox to check length of entered text ($watch directive) </h1>
    <hr/> Enter string to validate length:
    <input ng-model="mydata.val">
    <h1>{{mydata.val}}</h1>
    <span ng-show="mydata.toolong">Name is too long!</span>
</div>
<!--</body>-->
<!--</html>-->
